@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-background: oklch(1 0 0);
	--color-foreground: oklch(0.145 0.004 285.82);
}

@layer base {
	.dark {
		--color-background: oklch(0.145 0.004 285.82);
		--color-foreground: oklch(0.985 0 0);
	}
}
